<template>
<div class="container">
  <div class="columns">
    <div class="column"
            v-for="value in shelves_data"
            :key="value">
      <section>
          <button
            class="button is-light is-medium shelf-row column-row"
            @click="value.active = true">
            {{value.name}}
          </button>
          <b-modal
            v-bind:active.sync="value.active"
            has-modal-card>
              <shelf :items="value.items"></shelf>
          </b-modal>
      </section>
    </div>
  </div>
</div>
</template>

<script>
import Shelf from '@/components/Shelf'
export default {
  name: 'Main',
  data () {
    return {
      shelves_data: [
        {
          active: false,
          name: 'shelf 1',
          items: [
            {
              name: 'left side',
              values: [
                ['milk', 'cocca milk', 'coffe milk', 'coconut milk'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            },
            {
              name: 'right side',
              values: [
                ['milk', 'cocca milk', 'coffe milk', 'coconut milk'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            }
          ]
        },
        {
          active: false,
          name: 'shelf 2',
          items: [
            {
              name: 'left side',
              values: [
                ['milk', 'cocca milk', 'coffe milk', 'coconut milk'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            },
            {
              name: 'right side',
              values: [
                ['banana', 'pinaple', 'carrot', 'coconut'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            }
          ]
        },
        {
          active: false,
          name: 'shelf 3',
          items: [
            {
              name: 'left side',
              values: [
                ['milk', 'cocca milk', 'coffe milk', 'coconut milk'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            },
            {
              name: 'right side',
              values: [
                ['milk', 'cocca milk', 'coffe milk', 'coconut milk'],
                ['feta cheese', '', '', ''],
                ['butter', 'cream', 'sour cream', 'margarine'],
                ['dough', 'yogourt', '', '']
              ]
            }
          ]
        }
      ],
      formProps: []
    }
  },
  components: {
    Shelf
  }
}
</script>

<style>
  body{
    background-image: url(/static/images/tile.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .shelf-row{
    height: 100%;
  }
  .column-row{
    min-height: 600px;
    width: 150px;
  }
</style>
