<template>
    <form action="">
        <div class="modal-card">
            <header class="modal-card-head">
                <button class="button" type="button" @click="$parent.close()">
                    <b-icon
                        pack="fa"
                        custom-class="fa-window-close">
                    </b-icon>
                </button>
                <button class="button" type="button" @click="current_shelf = (current_shelf+1) % items.length">
                    <b-icon
                        pack="fa"
                        icon="refresh"
                        custom-class="fa-spin">
                    </b-icon>
                    <span>rotate</span>
                </button>
                <p class="modal-card-title">{{items[current_shelf].name}}</p>
            </header>
            <section class="modal-card-body">
                <table class="shelf">
                    <tbody>
                        <tr v-for="row in items[current_shelf].values" :key="row.to_string">
                            <td v-for="item in row" :key="item">
                                <b-tag type="is-danger" size="is-large">{{item.length < 1 ? '-' : item}}</b-tag>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <footer class="modal-card-foot">

            </footer>
        </div>
    </form>
</template>

<script>
    export default {
      props: {
        items: {type: Object}
      },
      data () {
        return {
          current_shelf: 0
        }
      }
    }
</script>

<style scoped>
    .modal-card {
        width: auto;
    }
    .shelf {

    }
    .shelf tr{
        border-bottom: 10px solid black;
        box-shadow: 0px 10px 100px 0px black;
    }
    .shelf td{
        padding: 20px 50px 2px;
        text-align: center;
    }
    .shelf td span{
       justify-content: center;
       min-width: 120px;
    }
</style>
